---
layout: default
---

<div class="row">
  <p class="title">
    &nbsp;
  </p>
  <div class="title-content">
    &#9679;<time>&#8201;01 December, 2016</time>
    <address>
      Melbourne Meat Market<br>
      5 Blackwood Street, North Melbourne
    </address>
  </div>
</div>

<div class="row">
  <p class="title">
    The conference
  </p>
  <div class="title-content">
    <p>
      JSConfAU is an event that’s far from the standard conference playbook because we believe you deserve more than that. We focus on two things, pushing JavaScript beyond its boundaries and providing exceptional human social activities that encourage community and friendship building.
    </p>
    <p>
      JSConfAU drives beyond what is popular or cool today, toward topics that define and revolutionize the future of our technology.
    </p>
  </div>
</div>

{% include schedule.html %}

{% include tickets.html %}

<div class="row">
  <p id="news" class="title">
    News
  </p>
  <div class="title-content">
    <p>
      {% for post in site.posts %}
        <a href="{{ post.url | prepend: site.github.url }}" class="list">
          <time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">&#8201;{{ post.date | date: "%b %d" }}</time>
          <span>{{ post.title }}</span>
        </a>
      {% endfor %}
    </p>
  </div>
</div>

{% include mailing-list.html %}

<div class="row">
  <p class="title">
    Code of Conduct
  </p>
  <div class="title-content">
    <p>
      All organisers, sponsors, speakers and attendees are required to follow the <a href="/codeofconduct">conference Code of Conduct</a>. We are committed to providing a harassment-free, professional and welcoming environment for all attendees.
    </p>
  </div>
</div>

<div class="row">
  <p class="title">
    Sponsors
  </p>
  <div class="title-content">
    <p>
      <a href="http://prismatik.com.au/" target="external" class="sponsor sponsor--grand">
        <img src="./assets/images/sponsor-prismatik.svg" alt="Event Grand Sponsor: Prismatik" />
      </a>
      <a href="https://99designs.com.au" target="external" class="sponsor">
        <img src="./assets/images/sponsor-99designs.svg" alt="Event Sponsor: 99 Designs" />
      </a>
      <a href="https://pin.net.au/" target="external" class="sponsor">
        <img src="./assets/images/sponsor-pin.svg" alt="Event Sponsor: Pin Payments" />
      </a>
      <a href="http://observant.net" target="external" class="sponsor sponsor--minor">
        <img src="./assets/images/sponsor-observant.svg" alt="Event Minor Sponsor: Observant" />
      </a>
      <a href="https://www.realestate.com.au" target="external" class="sponsor sponsor--minor">
        <img src="./assets/images/sponsor-rea.svg" alt="Event Minor Sponsor: REA" />
      </a>
      <a href="http://github.com" target="external" class="sponsor sponsor--minor">
        <img src="./assets/images/sponsor-github.svg" alt="Event Minor Sponsor: Github" />
      </a>
      <a href="http://buildkite.com" target="external" class="sponsor sponsor--minor">
        <img src="./assets/images/sponsor-buildkite.svg" alt="Event Minor Sponsor: Buildkite" />
      </a>
      <a href="http://summersnowjuice.com.au/" target="external" class="sponsor sponsor--minor">
        <img src="./assets/images/sponsor-summersnow.svg" alt="Event Minor Sponsor: Summer Snow" />
      </a>
    </p>
    <p>
      We’re looking for more people to help support this event.
      If your organisation could help, please drop an email to <a href="{{ site.sponsors_email }}">{{ site.sponsors_email }}</a> for more details.
    </p>
  </div>
</div>

{% include team.html %}
