<div class="row">
  <p id="schedule" class="title">
    Schedule
  </p>
  <div class="title-content">
    <p>
      <span class="list list--simple">
        <time datetime="2016-11-30 08:30+11:00" itemprop="doorTime">08:30</time>
        <span>🎫 Registration</span>
      </span>
      <span class="list list--simple">
        <time datetime="2016-11-30 09:00+11:00" itemprop="doorTime">09:00</time>
        <span>🍳 Breakfast</span>
      </span>
      <span class="list list--simple">
        <time datetime="2016-11-30 10:00+11:00" itemprop="doorTime">10:00</time>
        <span>📢 Welcome</span>
      </span>
      <span class="list list--simple">
        <time datetime="2016-11-30 10:10+11:00" itemprop="doorTime">10:10</time>
        <span>🎤 1: Justin Falcone—The Origin of HyperCard in the Breakdown of the Bicycle for the Mind</span>
      </span>
      <span class="list list--simple">
        <time datetime="2016-11-30 10:40+11:00" itemprop="doorTime">10:40</time>
        <span>🎤 2: Jess Telford—How to build Pokemon Go in your browser. In 100% JS.</span>
      </span>
      <span class="list list--simple">
        <time datetime="2016-11-30 11:10+11:00" itemprop="doorTime">11:10</time>
        <span>☕️ Coffee </span>
      </span>
      <span class="list list--simple">
        <time datetime="2016-11-30 11:40+11:00" itemprop="doorTime">11:40</time>
        <span>🎤 3: Emil Bay—Hyperjournal - A tamper-proof publishing system</span>
      </span>
      <span class="list list--simple">
        <time datetime="2016-11-30 12:10+11:00" itemprop="doorTime">12:10</time>
        <span>🎤 4: Jacob Bass—Modularity and Monorepositories</span>
      </span>
      <span class="list list--simple">
        <time datetime="2016-11-30 12:40+11:00" itemprop="doorTime">12:40</time>
        <span>🍜 Lunch</span>
      </span>
      <span class="list list--simple">
        <time datetime="2016-11-30 14:10+11:00" itemprop="doorTime">14:10</time>
        <span>🎤 5: Jessica Lord—Electron: A Tale of Two Processes</span>
      </span>
      <span class="list list--simple">
        <time datetime="2016-11-30 14:40+11:00" itemprop="doorTime">14:40</time>
        <span>🎤 : Soledad Penadés—Real time front-end alchemy, or: capturing, playing, altering and encoding video and audio streams, without servers or plugins!</span>
      </span>
      <span class="list list--simple">
        <time datetime="2016-11-30 15:10+11:00" itemprop="doorTime">15:10</time>
        <span>🍰 Sweets</span>
      </span>
      <span class="list list--simple">
        <time datetime="2016-11-30 15:40+11:00" itemprop="doorTime">15:40</time>
        <span>🎤 7: Michaela Lehr—An Introduction to WebVR</span>
      </span>
      <span class="list list--simple">
        <time datetime="2016-11-30 16:10+11:00" itemprop="doorTime">16:10</time>
        <span>🎤 8: Ruth John—How to be a Web A/V Artist</span>
      </span>
      <span class="list list--simple">
        <time datetime="2016-11-30 16:40+11:00" itemprop="doorTime">16:40</time>
        <span>🍵 Tea</span>
      </span>
      <span class="list list--simple">
        <time datetime="2016-11-30 17:10+11:00" itemprop="doorTime">17:10</time>
        <span>🎤 9: Lena Reinhard—Debugging the Tech Industry</span>
      </span>
      <span class="list list--simple">
        <time datetime="2016-11-30 17:40+11:00" itemprop="doorTime">17:40</time>
        <span>📸 Family photo and announcements</span>
      </span>
    </p>
  </div>
</div>
